.reg-step-three-container {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.reg-step-three-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 75%;
}

.row {
  display: flex;
  flex-direction: row;
}

.reg-step-three-title {
  font-size: 25px;
  color: #8d8169;
}

.reg-step-three-paragraph {
  color: #82725a;
  font-size: 16px;
}

.reg-step-three-link {
  color: #37a4aa;
  cursor: pointer;
}

.reg-step-three-link:hover {
  text-decoration: underline;
}

.reg-step-three-image {
  width: 30%;
  height: 100%;
  object-fit: contain;
  padding-top: 10px;
}
