.register-validated-text-input-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.register-validated-text-input-content {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}

.register-validated-text-input-error {
  position: absolute;
  color: #fa7f55;
  padding: 0;
  margin-left: 20px;
  margin-top: 80px;
  font-size: 13px;
}

.register-validated-text-input-obligatory {
  padding-top: 10px;
  margin: 0px;
  color: #fa7f55;
}
